* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.row-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-box a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding-top: 10px;
}

.btn-choice {
  width: 200px;
}

.navigation-bar {
  background-color: #08262b;
  color: white;
}

.profile-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-box p {
  padding-top: 20px;
}

.user-photo {
  margin-left: 10px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.bot-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 30px 0; /* Adjust as needed */
}

.btn-dropdown {
  margin-left: 10px;
  padding: 0 10px;
  border: 1px solid #a5ccd1;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  transition: color 100ms, background-color 100ms;
}

.btn-dropdown:hover {
  color: black;
  background-color: #a5ccd1;
}

.btn-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #a5ccd1;
  margin-right: 10px;
  font-size: 20px;
  padding: 20px 10px;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  transition: background-color 100ms, color 100ms, box-shadow 100ms,
    transform 100ms;
}

.btn-buttons a {
  text-decoration: none;
  color: black;
}

.btn-buttons:hover a {
  color: white;
}

.btn-buttons:hover {
  background-color: #698185;
  color: white;
  box-shadow: 5px 5px 5px black;
  transform: translateX(-5px);
  transform: translateY(-5px);
}

.todoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #08262b;
  color: white;
  padding: 30px 30px;
  border-radius: 10px;
}

.todoContainer-content {
  display: flex;
  align-items: center;
  background-color: #08262b;
  color: white;
  padding: 30px 30px;
  border-radius: 10px;
  transition: background-color 200ms, color 200ms, box-shadow 200ms,
    transform 200ms;
}

.todoContainer-content:hover {
  background-color: #1c4046;
  box-shadow: 5px 5px 5px black;
  transform: translateX(-5px);
  transform: translateY(-5px);
}

.col-container {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.action-container {
  display: flex;
}

.btn-choices {
  height: 80px;
  width: 80px;
  margin-right: 5px;
}
